{% from 'BtnMediaBundle::macros.html.twig' import img %}
{% from 'BtnAdminBundle:Macros:icon.html.twig' import glyphicon as gi %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% extends 'BtnMediaBundle::layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h2>
                {{ entity ? 'btn_media.media.edit'|trans : 'btn_media.media.add'|trans }} {{ entity ? entity.name }}
            </h2>
            {{ form(form) }}
            {% if entity %}
                {{ lnk.add('btn_media_mediacontrol_media_new', {}, 'btn_media.media.add') }}
                {{ lnk.delete('btn_media_mediacontrol_media_delete', {id: entity.id}, 'btn_media.media.delete') }}
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if entity.isFileInEntity|default(false) %}
                <p>Current image (preview):</p>
                {% if entity.isImaginable %}
                    <p>{{ img(entity, {class: 'full-width'}, 'btn_media_preview') }}</p>
                {% elseif entity.isPreviewable %}
                    <img src="{{ entity.previewPath|imagine_filter('btn_media_thumb') }}" />
                {% else %}
                    {{ gi('ban-circle') }}
                {% endif %}
            {% endif %}
        </div>
    </div>


{% endblock %}
