{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
                {{ render(controller('BtnMediaBundle:MediaCategoryControl:tree', {'category': app.request.get('category')})) }}
            {% endblock %}
        </div>
        <div class="col-md-9 well well-lg">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@BtnAdminBundle/Resources/public/css/jstree/style.min.css'
        '@BtnAdminBundle/Resources/public/css/jstree/nodes.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@BtnAdminBundle/Resources/public/js/jstree.min.js'
        '@BtnAdminBundle/Resources/public/js/nodes.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
