{% extends 'BtnAdminBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
                {{ render(controller('BtnMediaBundle:MediaCategoryControl:tree', {'category': app.request.get('category')})) }}
            {% endblock %}
        </div>
        <div class="col-md-9 well well-lg">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@btn_admin_jstree_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@btn_admin_jstree_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
