<div id="btn-media-tree" class="top-offset" btn-jstree {{ not modal ? 'btn-jstree-change="reload"' }}>
    <ul>
        <li class="{{ categories ? 'jstree-open' : 'jstree-closed' }}" data-jstree='{"icon":"glyphicon glyphicon-file"}'> {# {{ categories ? ',"opened":true' }} #}
            <a href="{{ url('btn_media_mediacontrol_media_index') }}"
                data-remote="formContainer"
                class="btn-admin-tree-title">{{ 'btn_media.media.all'|trans }}</a> |
            <ul>
                {% for category in categories %}
                    {% include 'BtnMediaBundle:MediaCategoryControl:_tree.html.twig' %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="top-offset">
    <a href="{{ url('btn_media_mediacontrol_new_category') }}" class="btn btn-primary btn-sm">{{ 'btn_media.category.create'|trans }}</a>
</div>
