{% from 'BtnAdminBundle:Macros:icon.html.twig' import glyphicon as gi %}

{% block modalContent %}

    <div id="btn-media-list" class="btn-media-list" class="col-md-12" data-pagination-url="{{ url('btn_media_mediacontrol_modalcontent') }}">
        {% for entity in pagination %}
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>{{ entity.name }}</p>
                </div>
                <div class="col-md-6 item" title="{{ entity.name }}" data-id="{{ entity.id }}">
                    {% if entity.isImaginable %}
                        <img src="{{ entity.path|imagine_filter('btn_media_thumb') }}"
                             class="img-polaroid"
                             data-id="{{ entity.id }}"
                             data-filename="{{ entity.name }}"
                             data-original="{{ media_host is defined ? media_host ~ entity.file : asset(entity.path) }}"
                        />
                    {% else %}
                        {{ gi('ban-circle') }}
                    {% endif %}
                    <p class="media-tooltip {{ entity.fileExt }}">{{ entity.file }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination) }}

    <div class="clearfix"></div>

{% endblock %}
