{% from 'BtnCrudBundle::breadcrumb.html.twig' import breadcrumb %}
{% extends '::control.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" >
            {% include 'BtnMediaBundle::_categories.html.twig' with {pagination: pagination, category_active: category|default({id:0})}  %}
            {% include 'BtnMediaBundle::_addCategoryBtn.html.twig' %}
        </div>
        <div class="col-md-9" >
            {% include 'BtnMediaBundle::_list.html.twig' with {pagination: pagination}  %}
            {% if category is defined and category is not null %}
                {% include 'BtnMediaBundle::_mediaFileUploadBtn.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/btnmedia/js/fineUploader/js/header.js'
        'bundles/btnmedia/js/fineUploader/js/util.js'
        'bundles/btnmedia/js/fineUploader/js/button.js'
        'bundles/btnmedia/js/fineUploader/js/handler.base.js'
        'bundles/btnmedia/js/fineUploader/js/handler.form.js'
        'bundles/btnmedia/js/fineUploader/js/handler.xhr.js'
        'bundles/btnmedia/js/fineUploader/js/uploader.basic.js'
        'bundles/btnmedia/js/fineUploader/js/dnd.js'
        'bundles/btnmedia/js/fineUploader/js/uploader.js'
        'bundles/btnmedia/js/fineUploader/js/jquery-plugin.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/btnmedia/js/jq.mediaUploader.js') }}"></script>
        <script src="{{ asset('bundles/btnmedia/js/default.admin.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    {% if category is defined and category is not null %}
        {{ breadcrumb({'cp_media': 'crud.breadcrumb.list', 'cp_media_category': category.name }) }}
    {% else %}
        {{ breadcrumb({'cp_media': 'crud.breadcrumb.list' }) }}
    {% endif %}
{% endblock %}
