{% extends 'BtnMediaBundle::layout.html.twig' %}
{% from 'BtnAdminBundle:Macros:icon.html.twig' import glyphicon as gi %}

{% block main %}
    <div class="col-md-6">
        <h3>{{ 'btn_media.media.list'|trans }}</h3>
    </div>
    <div class="col-md-6 no-right-padding">
        <div class="btn-group pull-right top-offset">
        {% if app.request.get('category') %}
            <a href="{{ path('btn_media_mediacontrol_media_new_category', {'category': app.request.get('category')})}}" class="btn btn-success">
                {{ 'btn_media.media.add'|trans }}</a>
            <a href="{{ path('btn_media_mediacontrol_edit_category', {'id': app.request.get('category')})}}" class="btn btn-primary">
                {{ 'btn_media.category.edit'|trans }}</a>
            <a href="{{ path('btn_media_mediacontrol_category_delete', {'id': app.request.get('category')})}}"
                class="btn btn-danger"
                data-btn-confirm="{{ 'btn_admin.category.delete_confirm'|trans }}"
                >
                {{ 'btn_media.category.delete'|trans }}</a>
        {% else %}
            <a href="{{ path('btn_media_mediacontrol_media_new')}}" class="btn btn-success">
                {{ 'btn_media.media.add'|trans }}</a>
        {% endif %}
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th class="btn-admin-column-id">Id</th>
                <th>Name</th>
                <th>Preview</th>
                <th>{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td class="btn-admin-column-id">{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.isImaginable %}
                        <img src="{{ entity.path|imagine_filter('btn_media_thumb') }}" />
                    {% else %}
                        {{ gi('ban-circle') }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('btn_media_mediacontrol_media_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                        {{ 'btn_media.media.edit'|trans }}</a>
                    <a href="{{ path('btn_media_mediacontrol_media_delete', { 'id': entity.id }) }}"
                        class="btn btn-danger"
                        data-btn-confirm="{{ 'btn_media.media.delete_confirm'|trans }}"
                        >
                        {{ 'btn_media.media.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}

{# {% block breadcrumb %}
    {% if category is defined and category is not null %}
        {{ breadcrumb({'btn_media_mediacontrol_index': 'btn_admin.list', 'btn_media_mediacontrol_category': category.name }) }}
    {% else %}
        {{ breadcrumb({'btn_media_mediacontrol_index': 'btn_admin.list' }) }}
    {% endif %}
{% endblock %} #}
